<!doctype html>
<html lang="en">
<head>
    <%- include("partials/doclink") %> 
</head>
<body>
    <%- include("partials/header") %> 

    <main>
        <h2>Welcome to our Homepage</h2>
        <p>Manage your employees easily.</p>
    </main>

    <%- include("partials/footer") %> 
</body>
</html>