* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 20px;
    width: 500px;
}

img {
    width: 500px;
}

p {
    width: 100%;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 10px;
}

nav {
    background-color: rgb(66, 66, 66);
    width: 500px;
    display: flex;
}

#last {
    margin-left: auto;
    background-color: rgb(77, 143, 77);
}

#about {
    color: darkblue;
    text-decoration: underline;
    padding: 0px;
}

.card img {
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid rgb(134, 134, 134);
}

.allcard {
    display: flex;
    justify-content: space-around;
}