<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Data</title>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; padding: 8px; }
    </style>
</head>
<body>
    <h3>
        Regriister table
    </h3>
    <table>
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</body>
</html>